h1 {
  text-align: center;
  font-size: 48px;
}

h2 {
  text-align: center;
}

.conditional-section {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.invalid-data {
  border-radius: 10px;
  background-color: darkviolet;
  padding: 40px;
  text-align: center;
}
