.ticket-card {
  background-color: darkgrey;
  padding: 35px;
  border-radius: 12px;
}

.img-container {
  width: 100%;
  margin: 0 auto;

  & img {
    width: 350px;
    height: 210px;
    min-width: 260px;
    min-height: 150px;
    aspect-ratio: 3/4;
    object-fit: contain;
  }
}

.data-format {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  width: 60%;
  margin-inline: auto;
}

h3 {
  text-align: center;
}

ul {
  display: flex;
  gap: 25px;
  margin-block: 35px;
  padding: 0;
}

li {
  list-style: none;

  & button {
    color: whitesmoke;
    background-color: darkviolet;
  }
}

.container-tickets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
