html {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #121010e2;
  color: whitesmoke;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

body {
  margin: 0;
}

main {
  margin-inline: 50px;
}

footer {
  margin-top: auto;
  padding: 15px;
  background-color: darkslategrey;
}